In [1]:
import pandas as pd
import numpy as np
from aging.organization.longtogeny import LongtogenyPaths

In [2]:
pth = LongtogenyPaths()

In [3]:
pth.model_file

PosixPath('/n/groups/datta/rockwell/k2_data_gen4/longtogeny/LONG_AND_ONT/220323_long_ont_model_robust_s6.p')

In [4]:
pth.index_file

PosixPath('/n/groups/datta/rockwell/k2_data_gen4/longtogeny/LONG_AND_ONT/220323_long_and_ont_moseq6-index.yaml')

In [5]:
df = pd.read_parquet(pth.intermediate_folder / "rec_lon_male.parquet")

In [6]:
df.head()

,uuid,subject_name,session_name,session_date,session_date_name,start_time,group,rec_full,rec,full_path,labels,onset,mouse_id,cage_id,age
0,6dbe0679-9fc6-47fe-911b-d5cec68cfb7d,04_04_030,010,2021-04-08 18:23:33,session_20210408182333,2021-04-08T18:23:34.9759139-04:00,default,rec_lon_male_20210408,rec_lon_male,/n/groups/datta/rockwell/k2_data_gen3/longtoge...,-5,False,4,4,33
1,6dbe0679-9fc6-47fe-911b-d5cec68cfb7d,04_04_030,010,2021-04-08 18:23:33,session_20210408182333,2021-04-08T18:23:34.9759139-04:00,default,rec_lon_male_20210408,rec_lon_male,/n/groups/datta/rockwell/k2_data_gen3/longtoge...,-5,False,4,4,33
2,6dbe0679-9fc6-47fe-911b-d5cec68cfb7d,04_04_030,010,2021-04-08 18:23:33,session_20210408182333,2021-04-08T18:23:34.9759139-04:00,default,rec_lon_male_20210408,rec_lon_male,/n/groups/datta/rockwell/k2_data_gen3/longtoge...,-5,False,4,4,33
3,6dbe0679-9fc6-47fe-911b-d5cec68cfb7d,04_04_030,010,2021-04-08 18:23:33,session_20210408182333,2021-04-08T18:23:34.9759139-04:00,default,rec_lon_male_20210408,rec_lon_male,/n/groups/datta/rockwell/k2_data_gen3/longtoge...,13,True,4,4,33
4,6dbe0679-9fc6-47fe-911b-d5cec68cfb7d,04_04_030,010,2021-04-08 18:23:33,session_20210408182333,2021-04-08T18:23:34.9759139-04:00,default,rec_lon_male_20210408,rec_lon_male,/n/groups/datta/rockwell/k2_data_gen3/longtoge...,13,False,4,4,33

In [7]:
np.sort(df['age'].unique())

array([ 24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  45,
        48,  51,  58,  61,  65,  68,  69,  73,  76,  79,  82,  86,  87,
        89,  93,  95,  96, 100, 103, 110, 117, 124, 131, 138, 145, 146,
       151, 152, 160, 168, 185, 186, 196, 202, 208, 209, 217, 224, 231,
       246, 253, 257, 258, 273, 288, 357, 363, 369, 379], dtype=int32)